@tailwind base;
@tailwind components;
@tailwind utilities;

/* to hide arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scroll-style::-webkit-scrollbar {
  height: 6px;
}

/* Track */
.scroll-style::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scroll-style::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #8b5cf6;
}

/* meditation audio element styles */
.custom-audio-player {
  @apply bg-violet-200 rounded-lg shadow-lg;
}

.custom-audio-player .rhap_container {
  @apply bg-violet-400;
}

.custom-audio-player .rhap_progress-bar {
  @apply bg-violet-400;
}

.custom-audio-player .rhap_progress-filled {
  @apply bg-violet-400;
}

.custom-audio-player .rhap_progress-indicator {
  @apply bg-violet-500;
}

.custom-audio-player .rhap_download-progress {
  @apply bg-violet-400;
}

.custom-audio-player .rhap_main-controls button,
.custom-audio-player .rhap_volume-controls button {
  @apply text-violet-400;
}

.custom-audio-player .rhap_volume-bar {
  @apply bg-violet-400;
}

.custom-audio-player .rhap_volume-indicator {
  @apply bg-violet-500;
}

/* music player audio element styles */

.custom-audio-player-two .rhap_time {
  @apply text-white;
}

.custom-audio-player-two {
  @apply bg-[#ddd6fe0c] rounded-lg shadow-lg;
}

.custom-audio-player-two .rhap_container {
  @apply bg-violet-300;
}

.custom-audio-player-two .rhap_progress-bar {
  @apply bg-violet-300;
}

.custom-audio-player-two .rhap_progress-filled {
  @apply bg-violet-300;
}

.custom-audio-player-two .rhap_progress-indicator {
  @apply bg-violet-400;
}

.custom-audio-player-two .rhap_download-progress {
  @apply bg-violet-300;
}

.custom-audio-player-two .rhap_main-controls button {
  @apply text-violet-300;
}

.custom-audio-player-two .rhap_volume-bar {
  @apply bg-violet-300;
}

.custom-audio-player-two .rhap_volume-indicator {
  @apply bg-violet-400;
}
